@tailwind base;
@tailwind components;
@tailwind utilities;

.addingBgInCSS {
  position: relative;
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/893a42ad-6a39-43c2-bbc1-a951ec64ed6d/1d86e0ac-428c-4dfa-9810-5251dbf446f8/IN-en-20231002-popsignuptwoweeks-perspective_alpha_website_medium.jpg")
    center/cover;
  overflow: hidden; /* Hide overflowing content outside the circle */
}

.addingBgInCSS::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle,
    transparent 0%,
    black 100%
  ); /* Circular gradient */
}
